/*
http://frontender.info/organizing-your-css-code-for-preprocessors/
https://operatino.github.io/MCSS/modules/shorthand_dictionary.html
*/

* {
  box-sizing: border-box;
}


body {
  min-height: 100%;
}
/* ------------ BASE ------------ */
// BASE
@import "base/typography";
@import "base/colors";

// HELPERS
@import "helpers/functions";
@import "helpers/mixins";
@import "helpers/animations";
@import "helpers/icons-styles";

// PAGES
@import "pages/index";
@import "pages/blog";
@import "pages/simply-page-blog";

//FONTS
@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');