block footer
    aside#hurtiglenker
        .container
            .row
                h4 Hurtiglenker
            .row
                .col-sm-2.no-padd-left
                    ul.unstyled.list-1
                        li
                            a(href="#!")
                                | Logg in  / Register
                        li
                            a(href="#!")
                                | Spørsmål og svar
                        li
                            a(href="#!")
                                | Stillinger
                        li
                            a(href="#!")
                                | Kontakt
                        li
                            a(href="#!")
                                | Om oss
                .col-sm-5
                    ul.unstyled.list-2
                        li
                            a(href="#!")
                                | Lorem ipsum dolor sit amet
                        li
                            a(href="#!")
                                | Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                                | Aenean commodo ligula eget dolor.
                        li
                            a(href="#!")
                                | Donec quam felis, ultricies nec, pellentesque eu
                        li
                            a(href="#!")
                                | Lorem ipsum
                        li
                            a(href="#!")
                                | Lorem ipsum dolor sit amet
                .col-sm-5
                    ul.unstyled.list-3
                        li
                            a(href="#!")
                                | Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                                | Aenean commodo ligula eget dolor.
                        li
                            a(href="#!")
                                | Lorem ipsum dolor sit amet
                        li
                            a(href="#!")
                                | Donec quam felis, ultricies nec, pellentesque eu
                        li
                            a(href="#!")
                                | Lorem ipsum dolor sit amet
                        li
                            a(href="#!")
                                | Donec quam felis, ultricies nec, pellentesque eu

            .row
                .col-sm-12.no-padd-left
                    p
                        | Rådgiverportalen.no er en uavhengig guide til finans, forsikring og advokatransjen © 2016 Vilkår Personvern
                        br
                        | Forbehold om feil og mangler. Bruk av automatiserte tjenester eller annen systematisk innhenting av informasjon er ikke tillatt uten eksplisitt samtykke.
                        div
                            | En del av Team Fruppen AS
    footer
        .container.no-padd-left.no-padd-right
            +b.UL.social
                +e.list
                    +e.A(href="//www.facebook.com/www.spreknorge.no" target="_blank").link
                        img(src="assets/img/f.png" alt="facebook")
                +e.logo-footer
                    +e.a(href="#")
                        img(src="assets/img/logo.png" alt="radgiver")