block header
    header
        .container.header_menu
            nav.navbar.navbar-default
                .container-fluid
                    .col-md-8.top_line
                        .navbar-header
                            a.navbar-brand(href='index.html')
                                img(src="assets/img/logo.png" alt="radgiver")
                        .input-group
                            input.form-control(type='text', placeholder='')
                            span.input-group-btn
                                button.btn.btn-default(type='button') Søk
                    ul.nav.navbar-nav.navbar-right
                        li
                            a(href='#') Hjelp
                        li
                            a(href='#') Logg inn / Registrer