extends ../_template

block content
    include ../components/_header
    .container
        h3 Blog
    section#blog
        .container.no-padd
            ul.unstyled.flex-container
                li.flex-item
                    .thumbnail
                        img(src="../assets/img/1m.png" alt="Artikkel Tittel")
                        .caption
                            a(href='#', role='button')
                                h4 Artikkel Tittel
                            span today at 16:45
                            p#descr.
                             Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
                             Aenean massa. Cum sociis natoque penatibus et magnis ...
                            p
                                a.link-blog(href='#', role='button') se mer
                li.flex-item
                    .thumbnail
                        img(src="../assets/img/2m.png" alt="Artikkel Tittel")
                        .caption
                            a(href='#', role='button')
                                h4.longtitle Artikkeltittel som er ganske lang, og så videre og så videre
                            span 12.02.2016 at 12:40
                            p#descr.
                                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
                                Aenean massa. Cum sociis natoque penatibus et magnis ...
                            p
                                a.link-blog(href='#', role='button') se mer
                li.flex-item
                    .thumbnail
                        img(src="../assets/img/3m.png" alt="Artikkel Tittel")
                        .caption
                            a(href='#', role='button')
                                h4 Artikkel Tittel
                            span 12.02.2016 at 12:40
                            p#descr.
                                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
                                Aenean massa. Cum sociis natoque penatibus et magnis ...
                            p
                                a.link-blog(href='#', role='button') se mer
                li.flex-item
                    .thumbnail
                        img(src="../assets/img/4m.png" alt="Artikkel Tittel")
                        .caption
                            a(href='#', role='button')
                                h4 Artikkel Tittel
                            span 12.02.2016 at 12:40
                            p#descr.
                                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
                                Aenean massa. Cum sociis natoque penatibus et magnis ...
                            p
                                a.link-blog(href='#', role='button') se mer
                li.flex-item
                    .thumbnail
                        img(src="../assets/img/5m.png" alt="Artikkel Tittel")
                        .caption
                            a(href='#', role='button')
                                h4.longtitle Artikkeltittel som er ganske lang, og så videre og så videre
                            span 12.02.2016 at 12:40
                            p#descr.
                                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
                                Aenean massa. Cum sociis natoque penatibus et magnis ...
                            p
                                a.link-blog(href='#', role='button') se mer
                li.flex-item
                    .thumbnail
                        img(src="../assets/img/6m.png" alt="Artikkel Tittel")
                        .caption
                            a(href='#', role='button')
                                h4 Artikkel Tittel
                            span 12.02.2016 at 12:40
                            p#descr.
                                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
                                Aenean massa. Cum sociis natoque penatibus et magnis ...
                            p
                                a.link-blog(href='#', role='button') se mer
                li.flex-item
                    .thumbnail
                        img(src="../assets/img/7m.png" alt="Artikkel Tittel")
                        .caption
                            a(href='#', role='button')
                                h4 Artikkel Tittel
                            span 12.02.2016 at 12:40
                            p#descr.
                                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
                                Aenean massa. Cum sociis natoque penatibus et magnis ...
                            p
                                a.link-blog(href='#', role='button') se mer
                li.flex-item
                    .thumbnail
                        img(src="../assets/img/8m.png" alt="Artikkel Tittel")
                        .caption
                            a(href='#', role='button')
                                h4.longtitle Artikkeltittel som er ganske lang, og så videre og så videre
                            span 12.02.2016 at 12:40
                            p#descr.
                                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
                                Aenean massa. Cum sociis natoque penatibus et magnis ...
                            p
                                a.link-blog(href='#', role='button') se mer
                li.flex-item
                    .thumbnail
                        img(src="../assets/img/9m.png" alt="Artikkel Tittel")
                        .caption
                            a(href='#', role='button')
                                h4 Artikkel Tittel
                            span 12.02.2016 at 12:40
                            p#descr.
                                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
                                Aenean massa. Cum sociis natoque penatibus et magnis ...
                            p
                                a.link-blog(href='#', role='button') se mer

        .more-img
            .container.no-padd
                a.link-blog(href="#!")
                    h4 Last mer

    include ../components/_footer