extends ../_template

block content
    header
        .container.header_menu
            nav.navbar.navbar-default
                .container-fluid
                    .col-md-8.top_line
                        .navbar-header
                            a.navbar-brand(href='#')
                                img(src="assets/img/logo.png" alt="radgiver")
                        .input-group
                            input.form-control(type='text', placeholder='')
                            span.input-group-btn
                                button.btn.btn-default(type='button') Søk
                    ul.nav.navbar-nav.navbar-right
                        li
                            a(href='#') Hjelp
                        li
                            a(href='#') Logg inn / Registrer
    section.header_bg
        .container
            .header_bg_title
                h1 Den beste måten å finne en rådgiver der du bor
            h4 Se hvilke type spesialister du finner på ditt postnummer
            form
                input#fin(type='checkbox', name='fin' checked)
                label(for='fin')
                    span
                    | Finansiere
                input#for(type='checkbox', name='for')
                label(for='for')
                    span
                    | Forsikring
                input#adv(type='checkbox', name='adv')
                label(for='adv')
                    span
                    | Advokat
                .input-group
                    input.form-control(type='text', placeholder='ditt postnummer')
                    span.input-group-btn
                        button
                h5
                    a(href="#!") Hva er mitt postnummer ?




    .container
        .fb-container
            .fb-page(data-href='https://www.facebook.com/www.spreknorge.no', data-tabs='timeline', data-small-header='false', data-adapt-container-width='true', data-hide-cover='false', data-show-facepile='true', data-width="370")
                blockquote.fb-xfbml-parse-ignore(cite='https://www.facebook.com/www.spreknorge.no')
                    a(href='//www.facebook.com/www.spreknorge.no') Sprek Norge
    .footer
        +b.UL.social
            +e.list
                +e.A(href="//www.facebook.com/www.spreknorge.no" target="_blank").link
                    +use('fb')
                    | facebook
            +e.list
                +e.A(href="//www.youtube.com/channel/UCIJtfbQlaKcIT0Z7nzAtFOQ" target="_blank").link
                    +use('yt')
                    | youtube
            +e.list
                +e.A(href="//plus.google.com/110219344770814249409" target="_blank").link
                    +use('google')
                    | google+
        .copy © Sprek Norge 2017
    #fb-root
    script.
        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s);
            js.id = id;
            js.src = "//connect.facebook.net/nb_NO/sdk.js#xfbml=1&version=v2.8";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));